# подключение к базе данных
DATABASE_URL=postgresql://gost_user:Amazon321123@db:5432/gost_db
POSTGRES_DB=gost_db
POSTGRES_USER=gost_user
POSTGRES_PASSWORD=Amazon321123

# секретный ключ для jwt токенов
SECRET_KEY=iDgwb3TZSpNjAxuzTNaR2PgxRqgmM2Kdn

# время жизни токена в минутах
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# адрес ollama
OLLAMA_BASE_URL=http://172.17.0.1:11434

# модель ollama 
OLLAMA_MODEL=mistral:7b

# токен яндекс диска
YANDEX_DISK_TOKEN=y0__wgBEIbPxY8FGPamQSDFsJ6qF-j1q7fVfBbIrCTXrZjrOvuPimwN
